/* width */
::-webkit-scrollbar {
  height: 30px;
  cursor: pointer !important;
}

/* Track */
::-webkit-scrollbar-track:hover {
}
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #1a1a1a;
}

#container {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}
/** {
  font-family: 'Space Mono'; /*Liberation Mono';*/
/*  font-variant-ligatures: none;
  font-feature-settings: "kern" 0, "liga" 0, "clig" 0, "calt" 0;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}
*/
.editor {
  display: flex;
}